.adminSearch {
    width: 100%;
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.adminSearchItem {
    line-height: 36px;
    /* padding: 10px; */
    /* flex-grow: 1; */
    font-weight: 600;
    padding-right: 10px;
}
.searchTerm {
    width: 50%;
    border-top: 3px solid rgb(246, 210, 7);
    border-bottom: 3px solid rgb(246, 210, 7);
    border-left: 3px solid rgb(246, 210, 7);
    border-top: 3px solid rgb(246, 210, 7);
    border-right: none;
    padding: 5px;
    outline: none;
    color: #9dbfaf;
}
.searchTerm.search{
    flex-grow: 1;
    border-left: none;
}
.searchTerm:focus {
    color: #000;
    
}
.searchIconAdmin{
    color: #000;


}
.searchButton {
    width: 40px;
    height: 36px;
    border: 2px solid ;
    background: #fff;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-top: 3px solid rgb(246, 210, 7);
    border-bottom: 3px solid rgb(246, 210, 7);
    border-left: 3px solid rgb(246, 210, 7);
    border-top: 3px solid rgb(246, 210, 7);
    border-right: 3px solid rgb(246, 210, 7);
    height: 40px;
}

/*Resize the wrap to see the search bar change!*/
.adminSearchWrap {
    width: 700px;
    display: flex;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
